html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none;
}
img {
  display: block;
}
#fanhui {
  font-size: 0.20740741rem;
  margin-top: 0.44444444rem;
}
header.mui-bar {
  background: #000000;
}
header.mui-bar a {
  color: white;
  font-size: 0.22222222rem;
}
header.mui-bar h1 {
  color: white;
  font-weight: 800;
}
.mui-content {
  position: relative;
  width: 100%;
  height: 1500px;
}
.mui-content .mui-content-top {
  position: fixed;
  background: #f2f2f2;
  width: 100%;
  height: 3.40740741rem;
  left: 0;
  right: 0;
  z-index: 99;
  user-select: none;
  box-shadow: 0 0.07407407rem 0.19259259rem rgba(0, 0, 0, 0.12);
}
.mui-content .mui-content-top ul {
  overflow: hidden;
  position: relative;
  list-style: none;
  width: 94%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0.59259259rem auto;
  color: #606060;
  border: 1px solid;
  border-color: #E3E3E3;
  border-radius: 0.37037037rem;
}
.mui-content .mui-content-top ul li {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  display: flex;
  float: left;
  border-right: 1px solid #E3E3E3;
}
.mui-content .mui-content-top ul li:last-child {
  border: none;
}
.mui-content .mui-content-top ul li span {
  line-height: 1.33333333rem;
  padding: 0.44444444rem 1.46666667rem;
  font-size: 0.96296296rem;
  font-weight: 800;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.mui-content .mui-content-top ul li span .mui-xian1 {
  border-right: 1px solid;
  border-color: #E3E3E3;
}
.mui-content .mui-content-two .mui-slider .mui-slider-group .mui-slider-item img {
  display: block;
  width: 100%;
  border-style: none;
}
.mui-content .mui-content-three {
  position: relative;
  background: white;
  width: 100%;
}
.mui-content .mui-content-three .mui-content-three1 {
  border-bottom: 0.4px solid #E3E3E3;
}
.mui-content .mui-content-three .mui-content-three1 h2 {
  margin: 0.44444444rem;
  padding: 0.44444444rem;
  line-height: 1.48148148rem;
  font-size: 0.96296296rem;
  font-weight: 700;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.mui-content .mui-content-three .mui-content-three2 {
  margin: 0.88888889rem;
}
.mui-content .mui-content-three .mui-content-three2 h4 {
  font-size: 1.11111111rem;
  margin-bottom: 0.74074074rem;
  color: #333;
  font-family: helvetica;
}
.mui-content .mui-content-three .mui-content-three2 span {
  line-height: 0.2962963rem;
  color: #333;
  display: table;
  font-size: 0.81481481rem;
  padding: 0.44444444rem 0;
  font-family: helvetica;
}
.mui-content .mui-content-three .mui-content-three2 i {
  color: red;
  font-size: 0.74074074rem;
  padding: 0.59259259rem 0;
  float: left;
  font-family: helvetica;
  font-weight: 700;
}
.mui-content .mui-content-three .mui-content-three2 p {
  color: red;
  font-size: 0.96296296rem;
  padding: 0.59259259rem 0.22222222rem;
  float: left;
  font-family: helvetica;
  font-weight: 700;
}
.mui-content .mui-content-three .mui-content-three3 h6 {
  font-size: 0.74074074rem;
  line-height: 1.06666667rem;
  margin: 1.18518519rem 0.59259259rem 0.74074074rem 0.74074074rem;
  color: #999;
  display: block;
  font-weight: bold;
}
.mui-content .mui-content-three .mui-content-three3 em {
  top: 0.00740741rem;
  font-size: 0.44444444rem;
  font-style: normal;
  position: relative;
  color: firebrick;
  background: #ffe7e5;
  font-weight: 700;
  line-height: 0.02962963rem;
  border: 1px solid pink;
  border-radius: 0.37037037rem;
  padding: 0.2962963rem;
  margin: 0.13333333rem 0.11851852rem 0.74074074rem 0.74074074rem;
  white-space: nowrap;
  float: left;
  text-align: center;
}
.mui-content .mui-content-three .mui-content-three3 span {
  font-size: 0.81481481rem;
  line-height: 1.06666667rem;
  padding: 0 0 0.44444444rem;
  color: #323232;
  display: block;
  float: left;
  margin: 0 0.11851852rem 0 0;
}
.mui-content .mui-content-four {
  position: relative;
  background: white;
  width: 100%;
}
.mui-content .mui-content-four .mui-content-four1 h6 {
  font-size: 0.66666667rem;
  line-height: 1.03703704rem;
  padding: 0.74074074rem 0 0 0;
  margin: 0.44444444rem 0.74074074rem;
  color: #999;
  font-family: helvetica;
  font-weight: 700;
}
.mui-content .mui-content-four .mui-content-four2 span {
  display: table-cell;
  font-size: 0.74074074rem;
  word-bread: keep-all;
  line-height: 1.03703704rem;
  color: #333;
  float: left;
  margin: 0.14814815rem 0 0.2962963rem 0.88888889rem;
}
.mui-content .mui-content-four .mui-content-four2 p {
  font-weight: 600;
  font-size: 0.88888889rem;
  font-family: helvetica;
  color: #333333;
  float: left;
}
.mui-content .mui-content-four .mui-content-four3 span {
  display: table-cell;
  font-size: 0.74074074rem;
  word-bread: keep-all;
  line-height: 1.03703704rem;
  color: #333;
  float: left;
  margin: 0.14814815rem 0.01481481rem 0.2962963rem 0.88888889rem;
}
.mui-content .mui-content-four .mui-content-four3 p {
  font-weight: 600;
  font-size: 0.88888889rem;
  font-family: helvetica;
  color: #333333;
  float: left;
}
.mui-content .mui-content-four .mui-content-four4 span {
  display: table-cell;
  font-size: 0.74074074rem;
  word-bread: keep-all;
  line-height: 1.03703704rem;
  color: #333;
  float: left;
  margin: 0.14814815rem 0.01481481rem 1.18518519rem 0.88888889rem;
}
.mui-content .mui-content-four .mui-content-four4 p {
  font-weight: 600;
  font-size: 0.88888889rem;
  font-family: helvetica;
  color: #333333;
  float: left;
}
.mui-content .mui-content-five {
  border: none;
  position: relative;
  background: white;
  width: 100%;
}
.mui-content .mui-content-five .mui-content-five1 {
  margin: 0.44444444rem;
  padding: 0.44444444rem;
  line-height: 1.48148148rem;
  font-size: 0.96296296rem;
  font-weight: 700;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.mui-content .mui-content-five img {
  display: block;
  width: 100%;
  border-style: none;
}
.mui-content .mui-content-five:last-child {
  padding-bottom: 5.18518519rem;
}
.mui-bar ul {
  background: white;
  border: none;
}
.mui-bar ul .mui-bar-footer1 {
  position: fixed;
  display: block;
  align-items: center;
  box-sizing: border-box;
}
.mui-bar ul .mui-bar-footer1 a img {
  margin: 0.81481481rem 0.81481481rem auto;
  width: 1.92592593rem;
  float: left;
}
.mui-bar ul .mui-bar-footer2 {
  width: 41%;
  height: 2.96296296rem;
  border: 1px solid;
  border-radius: 0.22222222rem;
  border-color: #E3E3E3 ;
  float: right;
  margin: 0.2962963rem 0.22222222rem;
}
.mui-bar ul .mui-bar-footer2 span {
  text-align: center ;
}
.mui-bar ul .mui-bar-footer2 span a {
  font-size: 1.03703704rem;
  font-family: helvetica;
  color: #8c8c8c;
  font-weight: 700;
  text-align: -webkit-match-parent;
  padding: 0.74074074rem;
}
.mui-bar ul .mui-bar-footer3 {
  width: 41%;
  height: 2.96296296rem;
  border: 1px solid;
  border-radius: 0.22222222rem;
  border-color: #E3E3E3 ;
  float: right;
  margin: 0.2962963rem 0.14814815rem;
}
.mui-bar ul .mui-bar-footer3 span {
  text-align: center ;
}
.mui-bar ul .mui-bar-footer3 span a {
  font-size: 1.03703704rem;
  font-family: helvetica;
  color: #8c8c8c;
  font-weight: 700;
  padding: 0.74074074rem;
}
